<a href="https://colab.research.google.com/github/Urvashishasne/Women-Safety-Risk-Analysis/blob/main/Data_Inspection_and_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path =('/content/drive/MyDrive/Women_Safety_Risk_Analysis_data')

In [20]:
files = os.listdir(path)
for file in files:
  print(file)

42_Cases_under_crime_against_women.csv
43_Arrests_under_crime_against_women.csv
20_Victims_of_rape.csv
39_Specific_purpose_of_kidnapping_and_abduction.csv
32_Murder_victim_age_sex.csv
33_CH_not_murder_victim_age_sex.csv
25_Complaints_against_police.csv
35_Human_rights_violation_by_police.csv

In [36]:
# read each file one by one
Cases_under_crime_against_women = pd.read_csv(path + "/42_Cases_under_crime_against_women.csv", on_bad_lines='skip')
Arrests_under_crime_against_women= pd.read_csv(path + "/43_Arrests_under_crime_against_women.csv", on_bad_lines='skip')
Victims_of_rape_data= pd.read_csv(path + "/20_Victims_of_rape.csv", on_bad_lines='skip')
Specific_purpose_of_kidnapping_and_abduction= pd.read_csv(path + "/39_Specific_purpose_of_kidnapping_and_abduction.csv", on_bad_lines='skip')
Murder_victim_data= pd.read_csv(path + "/32_Murder_victim_age_sex.csv", on_bad_lines='skip')
CH_not_murder_victim_data= pd.read_csv(path + "/33_CH_not_murder_victim_age_sex.csv", on_bad_lines='skip')
Complaints_against_police= pd.read_csv(path + "/25_Complaints_against_police.csv", on_bad_lines='skip')
Human_rights_violation_by_police= pd.read_csv(path + "/35_Human_rights_violation_by_police.csv", on_bad_lines='skip')

In [32]:
Cases_under_crime_against_women.head(3)

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Acquitted_or_Discharged,Cases_charge_sheets_were_not_laid_but_Final_Report_submitted,Cases_Chargesheeted,Cases_Compounded_or_Withdrawn,Cases_Convicted,Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law,...,Cases_Pending_Investigation_at_Year_End,Cases_Pending_Investigation_from_previous_year,Cases_Pending_Trial_at_Year_End,Cases_Pending_Trial_from_the_previous_year,Cases_Reported,Cases_Sent_for_Trial,Cases_Trials_Completed,Cases_Withdrawn_by_the_Govt,Cases_withdrawn_by_the_Govt_during_investigation,Total_Cases_for_Trial
0,Andaman & Nicobar Islands,2001,Rape,01. Rape,5,2,3,0,0,0,...,1,3,34,36,3,3,5,0,0,39
1,Andhra Pradesh,2001,Rape,01. Rape,731,22,769,35,197,74,...,393,390,1974,2170,871,769,928,2,0,2937
2,Arunachal Pradesh,2001,Rape,01. Rape,1,2,25,0,2,0,...,18,12,282,260,33,25,3,0,0,285

In [37]:
Cases_under_crime_against_women.shape

(2765, 22)

In [38]:
Cases_under_crime_against_women.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2765 entries, 0 to 2764
Data columns (total 22 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Area_Name                                                     2765 non-null   object
 1   Year                                                          2765 non-null   int64
 2   Group_Name                                                    2765 non-null   object
 3   Sub_Group_Name                                                2765 non-null   object
 4   Cases_Acquitted_or_Discharged                                 2765 non-null   int64
 5   Cases_charge_sheets_were_not_laid_but_Final_Report_submitted  2765 non-null   int64
 6   Cases_Chargesheeted                                           2765 non-null   int64
 7   Cases_Compounded_or_Withdrawn                                 2765 non-null   int64
 8   Cases_Convicted                                               2765 non-null   int64
 9   Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law  2765 non-null   int64
 10  Cases_Investigated_Chargesheets+FR_Submitted                  2765 non-null   int64
 11  Cases_not_Investigated_or_in_which_investigation_was_refused  2765 non-null   int64
 12  Cases_Pending_Investigation_at_Year_End                       2765 non-null   int64
 13  Cases_Pending_Investigation_from_previous_year                2765 non-null   int64
 14  Cases_Pending_Trial_at_Year_End                               2765 non-null   int64
 15  Cases_Pending_Trial_from_the_previous_year                    2765 non-null   int64
 16  Cases_Reported                                                2765 non-null   int64
 17  Cases_Sent_for_Trial                                          2765 non-null   int64
 18  Cases_Trials_Completed                                        2765 non-null   int64
 19  Cases_Withdrawn_by_the_Govt                                   2765 non-null   int64
 20  Cases_withdrawn_by_the_Govt_during_investigation              2765 non-null   int64
 21  Total_Cases_for_Trial                                         2765 non-null   int64
dtypes: int64(19), object(3)
memory usage: 475.4+ KB

In [40]:
Cases_under_crime_against_women.columns

Index(['Area_Name', 'Year', 'Group_Name', 'Sub_Group_Name',
       'Cases_Acquitted_or_Discharged',
       'Cases_charge_sheets_were_not_laid_but_Final_Report_submitted',
       'Cases_Chargesheeted', 'Cases_Compounded_or_Withdrawn',
       'Cases_Convicted',
       'Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law',
       'Cases_Investigated_Chargesheets+FR_Submitted',
       'Cases_not_Investigated_or_in_which_investigation_was_refused',
       'Cases_Pending_Investigation_at_Year_End',
       'Cases_Pending_Investigation_from_previous_year',
       'Cases_Pending_Trial_at_Year_End',
       'Cases_Pending_Trial_from_the_previous_year', 'Cases_Reported',
       'Cases_Sent_for_Trial', 'Cases_Trials_Completed',
       'Cases_Withdrawn_by_the_Govt',
       'Cases_withdrawn_by_the_Govt_during_investigation',
       'Total_Cases_for_Trial'],
      dtype='object')

In [41]:
Cases_under_crime_against_women.isnull().sum()

Area_Name                                                       0
Year                                                            0
Group_Name                                                      0
Sub_Group_Name                                                  0
Cases_Acquitted_or_Discharged                                   0
Cases_charge_sheets_were_not_laid_but_Final_Report_submitted    0
Cases_Chargesheeted                                             0
Cases_Compounded_or_Withdrawn                                   0
Cases_Convicted                                                 0
Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law    0
Cases_Investigated_Chargesheets+FR_Submitted                    0
Cases_not_Investigated_or_in_which_investigation_was_refused    0
Cases_Pending_Investigation_at_Year_End                         0
Cases_Pending_Investigation_from_previous_year                  0
Cases_Pending_Trial_at_Year_End                                 0
Cases_Pending_Trial_from_the_previous_year                      0
Cases_Reported                                                  0
Cases_Sent_for_Trial                                            0
Cases_Trials_Completed                                          0
Cases_Withdrawn_by_the_Govt                                     0
Cases_withdrawn_by_the_Govt_during_investigation                0
Total_Cases_for_Trial                                           0
dtype: int64

In [42]:
# duplicates
Cases_under_crime_against_women.duplicated().sum()

np.int64(0)

In [43]:
# summary statistics
Cases_under_crime_against_women.describe()

,Year,Cases_Acquitted_or_Discharged,Cases_charge_sheets_were_not_laid_but_Final_Report_submitted,Cases_Chargesheeted,Cases_Compounded_or_Withdrawn,Cases_Convicted,Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law,Cases_Investigated_Chargesheets+FR_Submitted,Cases_not_Investigated_or_in_which_investigation_was_refused,Cases_Pending_Investigation_at_Year_End,Cases_Pending_Investigation_from_previous_year,Cases_Pending_Trial_at_Year_End,Cases_Pending_Trial_from_the_previous_year,Cases_Reported,Cases_Sent_for_Trial,Cases_Trials_Completed,Cases_Withdrawn_by_the_Govt,Cases_withdrawn_by_the_Govt_during_investigation,Total_Cases_for_Trial
count,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000,2765.000000
mean,2005.468354,432.139241,68.478843,912.951537,91.889331,186.448101,104.223146,981.430380,1.893309,379.494033,346.141772,3460.588427,3258.840145,1121.396022,912.951537,618.587342,0.726582,0.496926,4171.065099
std,2.877031,1053.222306,226.466541,2318.987649,379.379566,639.689836,423.311526,2454.156715,8.904249,1133.215547,1022.918978,9766.712108,9161.620176,2770.338758,2318.987649,1555.660996,10.865100,5.155302,11244.076721
min,2001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2003.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,3.000000,0.000000,1.000000,1.000000,7.000000,6.000000,3.000000,2.000000,1.000000,0.000000,0.000000,9.000000
50%,2005.000000,26.000000,5.000000,74.000000,0.000000,13.000000,1.000000,89.000000,0.000000,31.000000,29.000000,254.000000,236.000000,102.000000,74.000000,52.000000,0.000000,0.000000,318.000000
75%,2008.000000,370.000000,37.000000,685.000000,13.000000,97.000000,40.000000,761.000000,0.000000,230.000000,210.000000,2456.000000,2229.000000,870.000000,685.000000,467.000000,0.000000,0.000000,3024.000000
max,2010.000000,11606.000000,3746.000000,23851.000000,5167.000000,10307.000000,7358.000000,25353.000000,119.000000,17892.000000,16529.000000,114591.000000,110593.000000,27244.000000,23851.000000,17283.000000,306.000000,153.000000,125253.000000

In [56]:
# categorical columns in data
Cases_under_crime_against_women['Year'].unique() # 2001-2010
Cases_under_crime_against_women['Year'].value_counts() # 280 for each year,only 2008 has 245
Cases_under_crime_against_women['Area_Name'].nunique() # total unique area count - 35
Cases_under_crime_against_women['Area_Name'].value_counts() # each has 79 counts
Cases_under_crime_against_women['Group_Name'].nunique() # total 8 group name
Cases_under_crime_against_women['Group_Name'].value_counts() # each has count - 350 , only total crime againt women -315
Cases_under_crime_against_women['Sub_Group_Name'].unique()# 8
Cases_under_crime_against_women['Sub_Group_Name'].value_counts() #each 350

Sub_Group_Name
01. Rape                                       350
02. Kidnapping & Abduction of Women & Girls    350
03. Dowry Deaths                               350
04. Molestation                                350
05. Sexual Harassment                          350
06. Cruelty by Husband and Relatives           350
07. Importation of Girls                       350
12. Total Crimes Against Women                 315
Name: count, dtype: int64

In [59]:
# since groupname and subgroupname column has same values as result shows- verifing
(Cases_under_crime_against_women['Group_Name'] == Cases_under_crime_against_women['Sub_Group_Name']).all() # returning false mean value are not identical but again
Cases_under_crime_against_women[Cases_under_crime_against_women['Group_Name'] != Cases_under_crime_against_women['Sub_Group_Name']]

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Acquitted_or_Discharged,Cases_charge_sheets_were_not_laid_but_Final_Report_submitted,Cases_Chargesheeted,Cases_Compounded_or_Withdrawn,Cases_Convicted,Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law,...,Cases_Pending_Investigation_at_Year_End,Cases_Pending_Investigation_from_previous_year,Cases_Pending_Trial_at_Year_End,Cases_Pending_Trial_from_the_previous_year,Cases_Reported,Cases_Sent_for_Trial,Cases_Trials_Completed,Cases_Withdrawn_by_the_Govt,Cases_withdrawn_by_the_Govt_during_investigation,Total_Cases_for_Trial
0,Andaman & Nicobar Islands,2001,Rape,01. Rape,5,2,3,0,0,0,...,1,3,34,36,3,3,5,0,0,39
1,Andhra Pradesh,2001,Rape,01. Rape,731,22,769,35,197,74,...,393,390,1974,2170,871,769,928,2,0,2937
2,Arunachal Pradesh,2001,Rape,01. Rape,1,2,25,0,2,0,...,18,12,282,260,33,25,3,0,0,285
3,Assam,2001,Rape,01. Rape,334,95,495,10,101,45,...,1045,863,1964,1914,817,495,435,0,0,2409
4,Bihar,2001,Rape,01. Rape,406,141,685,0,155,105,...,488,531,3185,3061,888,685,561,0,0,3746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2760,Tamil Nadu,2010,Total Crime Against Women,12. Total Crimes Against Women,2823,565,4780,13,1749,708,...,2947,2292,12558,12363,6708,4780,4572,0,0,17143
2761,Tripura,2010,Total Crime Against Women,12. Total Crimes Against Women,683,102,1360,74,95,15,...,415,214,3967,3459,1678,1360,778,0,0,4819
2762,Uttar Pradesh,2010,Total Crime Against Women,12. Total Crimes Against Women,6976,3746,14401,366,10307,1704,...,2554,2236,45418,48666,20169,14401,17283,0,0,63067
2763,Uttarakhand,2010,Total Crime Against Women,12. Total Crimes Against Women,308,185,864,17,499,47,...,112,134,2997,2957,1074,864,807,0,0,3821
2764,West Bengal,2010,Total Crime Against Women,12. Total Crimes Against Women,4084,1110,23528,125,435,120,...,17892,16529,113793,94909,26125,23528,4519,0,0,118437

In [63]:
#subgroup name has prefix thats why result shows values are not identical
# remove prefix using regex
Cases_under_crime_against_women['Sub_Group_Name'] = Cases_under_crime_against_women['Sub_Group_Name'].str.replace(r'^\d+\.\s+', '', regex=True)
Cases_under_crime_against_women['Sub_Group_Name'].head(5)

0    Rape
1    Rape
2    Rape
3    Rape
4    Rape
Name: Sub_Group_Name, dtype: object

In [65]:
(Cases_under_crime_against_women['Group_Name'] == Cases_under_crime_against_women['Sub_Group_Name']).all()
Cases_under_crime_against_women[Cases_under_crime_against_women['Group_Name'] != Cases_under_crime_against_women['Sub_Group_Name']]

,Area_Name,Year,Group_Name,Sub_Group_Name,Cases_Acquitted_or_Discharged,Cases_charge_sheets_were_not_laid_but_Final_Report_submitted,Cases_Chargesheeted,Cases_Compounded_or_Withdrawn,Cases_Convicted,Cases_Declared_False_on_Account_of_Mistake_of_Fact_or_of_Law,...,Cases_Pending_Investigation_at_Year_End,Cases_Pending_Investigation_from_previous_year,Cases_Pending_Trial_at_Year_End,Cases_Pending_Trial_from_the_previous_year,Cases_Reported,Cases_Sent_for_Trial,Cases_Trials_Completed,Cases_Withdrawn_by_the_Govt,Cases_withdrawn_by_the_Govt_during_investigation,Total_Cases_for_Trial
350,Andaman & Nicobar Islands,2001,Kidnapping & Abduction - Women & Girls,Kidnapping & Abduction of Women & Girls,2,1,3,0,0,0,...,0,2,16,15,2,3,2,0,0,18
351,Andhra Pradesh,2001,Kidnapping & Abduction - Women & Girls,Kidnapping & Abduction of Women & Girls,233,23,454,28,30,206,...,322,285,1128,965,765,454,263,0,0,1419
352,Arunachal Pradesh,2001,Kidnapping & Abduction - Women & Girls,Kidnapping & Abduction of Women & Girls,5,9,34,0,4,0,...,19,7,233,208,55,34,9,0,0,242
353,Assam,2001,Kidnapping & Abduction - Women & Girls,Kidnapping & Abduction of Women & Girls,307,361,437,29,64,115,...,2036,1881,1662,1625,1070,437,371,0,0,2062
354,Bihar,2001,Kidnapping & Abduction - Women & Girls,Kidnapping & Abduction of Women & Girls,221,98,398,3,76,69,...,584,631,2920,2822,518,398,297,0,0,3220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2760,Tamil Nadu,2010,Total Crime Against Women,Total Crimes Against Women,2823,565,4780,13,1749,708,...,2947,2292,12558,12363,6708,4780,4572,0,0,17143
2761,Tripura,2010,Total Crime Against Women,Total Crimes Against Women,683,102,1360,74,95,15,...,415,214,3967,3459,1678,1360,778,0,0,4819
2762,Uttar Pradesh,2010,Total Crime Against Women,Total Crimes Against Women,6976,3746,14401,366,10307,1704,...,2554,2236,45418,48666,20169,14401,17283,0,0,63067
2763,Uttarakhand,2010,Total Crime Against Women,Total Crimes Against Women,308,185,864,17,499,47,...,112,134,2997,2957,1074,864,807,0,0,3821
2764,West Bengal,2010,Total Crime Against Women,Total Crimes Against Women,4084,1110,23528,125,435,120,...,17892,16529,113793,94909,26125,23528,4519,0,0,118437

sub group name - Total Crimes Against Women  <br>
in groupname -Total Crime Against Women<br>
sub group name -Kidnapping & Abduction of Women & Girls<br>
in groupname -Kidnapping & Abduction - Women & Girls<br>
drop group name as both column are same just formatting diffrence.<br>
as we had already cleaned sub group name column

In [66]:
Cases_under_crime_against_women = Cases_under_crime_against_women.drop(columns=['Group_Name'])

In [ ]:
useful_cols = ['Area_Name','Year','Sub_Group_Name','Cases_Reported','Cases_Chargesheeted','Cases_Convicted',
'Cases_Pending_Investigation_at_Year_End','Cases_Pending_Trial_at_Year_End','Total_Cases_for_Trial']